<mat-card class="example-card" style="margin-bottom:10px;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{killAction.name}}</mat-card-title>
      <mat-card-subtitle>{{killAction.id}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{killAction.imageUrl}}" alt="Kill Action Image">
    <mat-card-content>
      <p>
          {{killAction.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="chooseKillAction(killAction)">Choose this</button>
      <button mat-button>Vote for this kill</button>
    </mat-card-actions>
  </mat-card>