<div class="containerX">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Killer-App</span>
        </mat-toolbar-row>
    </mat-toolbar>
    <app-navigation></app-navigation>
    <div class="container" fxlayout="row" fxLayoutAlign="space-around">

        <div fxFlex="50%" style="margin: 15px;">
            <router-outlet></router-outlet>
        </div>
        <div fxFlex="50%" style="margin: 15px;">
            <app-killer-list></app-killer-list>
        </div>
    </div>
</div>