<div class="killActions">
  <h2>Kill Actions:</h2>
  <div class="killAction" *ngFor="let killAction of killActions">
      <h2 class="killActionName">{{killAction.id}}. {{killAction.name}}</h2>
      <h4>Description</h4>
      <p class="killActionDescription">{{killAction.description}}</p>
      <h4>Possible Killers:</h4>
      <ul class="killActionKillers">
        <li class="killActionKiller" *ngFor="let killer of killAction.possibleKillers">
          {{killer.name}}
          <ul>
            <li>Weapon: {{killer.primaryWeapon}}</li>
          </ul>
        </li>
      </ul>
    </div>
</div>